{% load static %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="materialHandlingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Material Handling
    </a>
    <div class="dropdown-menu" aria-labelledby="materialHandlingDropdown">
      <a class="dropdown-item" href="{% url 'charge_list' %}">Charge Book</a>
      <a class="dropdown-item" href="{% url 'measurement_list' %}">All Measurements</a>
      <a class="dropdown-item" href="{% url 'ingredient_list' %}">All Ingredients</a>
      <a class="dropdown-item" href="{% url 'material_list' %}">Material Database</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'add_charge' %}">New Charge</a>
      <a class="dropdown-item" href="{% url 'add_measurement' %}">New Measurement</a>
      <a class="dropdown-item" href="{% url 'add_ingredient' %}">New Ingredient</a>
      <a class="dropdown-item" href="{% url 'add_material' %}">New Material</a>
    </div>
</li>
