{% extends 'base_form.html' %}
{% load bootstrap %}

{% block form_content %}
    <h2 class="mb-4">{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">{{ button_label }}</button>
        {% if return_view %}
            <a href="{% url return_view %}" class="btn btn-link">Return to list</a>
        {% endif %}
    </form>
{% endblock %}

{% block additional_js %}
<!-- Initialize the datetime picker -->
<script type="text/javascript">
$(function () {
    $('#datetimepicker').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
});
</script>
{% endblock %}