{% extends "base_list.html" %}

{% block list_content %}
    <h1>{{ title }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- List existing entries -->
            {% for material in materials %}
            <tr>
                <td>{{ material.number }}</td>
                <td>{{ material.name }}</td>
                <td>
                    <a href="{% url 'update_material' material.id %}" class="btn btn-warning">UPDATE</a>
                    <a href="{% url 'delete_material' material.id %}" class="btn btn-danger">DELETE</a>
                </td>
            </tr>
            {% endfor %}
            <!-- Add new entry -->
            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="{% url 'add_material' %}" class="btn btn-primary">Add New Material</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}